@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global reset */
body {
  @apply bg-gray-50 text-gray-800;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Remove number input arrows (for quantity buttons later) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 1.2s ease-out forwards;
}

